body {
  font: 10px sans-serif;
}

.grid path,
.grid line {
  fill: none;
  stroke: black;
  stroke-opacity: 0.07;
  shape-rendering: crispEdges;
}

.grid text {
  fill: #555;
}

.label text {
  fill: #555;
}

.border {
  stroke: #777;
}

.x.grid path {}

.points {
  fill: white;
  stroke-width: 1.2px;
}

.line {
  fill: none;
  stroke-width: 1.2px;
}

#hum_chart .line, #hum_chart .points {
  stroke: #4499d6;
}

#temp_chart .line, #temp_chart .points {
  stroke: #f45f42;
}

#gradient1 .stop-top {
    stop-color: #f45f42;
    stop-opacity: 0.6;
}

#gradient1 .stop-bottom {
    stop-color: #f45f42;
    stop-opacity: 0.3;
}

#gradient2 .stop-top {
    stop-color: #4499d6;
    stop-opacity: 0.6;
}

#gradient2 .stop-bottom {
    stop-color: #4499d6;
    stop-opacity: 0.3;
}

#temp_chart .area {
    fill: url(#gradient1);
    stroke-width: 0;
}


#hum_chart .area {
    fill: url(#gradient2);
    stroke-width: 0;
}